#page-header {
  height: 400px;
  width: 100%;
  position: relative;
  z-index: 0;
  top: 120px;
  background-color: #FF9800;
  background-image: url("https://www.transparenttextures.com/patterns/batthern.png");
  padding-top: 15px;
}

#avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 90%);
  color:#FFFFFF;
  font-size: 35px;
}


h2 {
  margin-top: 0;
  text-align: center;
}

@media all and (min-width: 1024px) {
  body {
    display: flex;
    justify-content: space-around;
  }
  #page-header {
    height: 350px;
    width: 350px;
    top: 200px;
    float: left;
    border-radius: 25px;
  }

  #user {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 65%);

  }
}