#page-header {
  height: 400px;
  width: 100%;
  position: relative;
  z-index: 0;
  top: 120px;
  background-color: #00abab;
  background-image: url("https://www.transparenttextures.com/patterns/argyle.png");
  padding-top: 15px;
}

#avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

#user {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 90%);
  color:#FFFFFF;
  font-size: 35px;
}


h2 {
  margin-top: 0;
  text-align: center;
}