.new-tweet textarea {
  border: 0px;
  border-bottom: solid 5px;
  border-color: #575757;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  background-color: #f4f1ec;
}

.new-tweet form {
  width: 100%;
}

.new-tweet {
  display: none;
  font-family: 'Bungee', sans-serif;
}

.show-form {
  display: block;
}

.new-tweet input {
  float: left;
  background-color: #4056A1;
}

.new-tweet span {
  float: right;
}

#tweets-container {
  margin-top: 50px;
}


#tweets-container .tweet {
  border: solid 5px #575757;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 25px;
}


#tweets-container .tweet p {
  padding-bottom: 30px;
  border-bottom: solid 5px #575757;
}


.tweet:hover {
  box-shadow: 10px 10px #ccc2c2;

}


.tweet header, .tweet header span{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet p {
  text-align: center;
}

#error-message {
  border: solid rgb(224, 64, 64) 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}

#error-message p {
  color: rgb(224, 64, 64);
  padding-left: 10px;
}

.tweet footer {
  display: flex;
  justify-content: space-between
}

.tweet footer i:hover{
  color:  rgb(43, 160, 238)
}

.icons {
  opacity: 0;
}

.tweet:hover .icons {
  opacity: 1;
}

.show-tweet-form {
  display: none !important;
}